*{
   margin: 0;
   padding: 0; 
   font-family: 'Poppins','sans-serif';
   box-sizing: border-box; 
   position: relative;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
}
.container{
    padding:10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: cornflowerblue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    margin-bottom: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;    
}
.header-image{
    padding: 0% 20% 10% 50%;
    position:absolute;

}
.header-text h1 span{
    color: cornflowerblue;
}
.header-text p{
    font-size: 25px;
}
/*-------------------------------about-------------------------------*/
#about{
    padding: 80px 0;
    color: white
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width:100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: cornflowerblue;
}
.ni{
    padding-top: 20px;
    font-size: 15px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: cadetblue;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style:inside;
    margin: 10px 0;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*-----------------------------skills--------------------------------p*/
#skills{
    padding: 30px 0;
}
.subtitle{
    width: 100%;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: cornflowerblue;
    
    
}

.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
   
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}

.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(146, 146, 146, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
    
}
.skill_bar  .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #6495ed;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 80%;
    animation: html 10s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
    
}
.skill_bar .bar .css{
    width: 75%;
    animation: css 10s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .python{
    width: 75%;
    animation: python 10s;
}
@keyframes python {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .c{
    width: 85%;
    animation: c 10s;
}
@keyframes c {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .react{
    width: 50%;
    animation: react 10s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 50%;
    }
}
.skill_bar .bar .java{
    width: 60%;
    animation: java 10s;
}
@keyframes java {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}
.skill_bar .bar .springboot{
    width: 50%;
    animation: springboot 10s;
}
@keyframes springboot {
    0%{
        width: 0%;
    }100%{
        width: 50%;
    }
}
.skill_bar .bar .mysql{
    width: 50%;
    animation: mysql 10s;
}
@keyframes mysql {
    0%{
        width: 0%;
    }100%{
        width: 50%;
    }
}


/* -----------------------------portfolio---------- ---------------- */
#portfolio{
    padding: 30px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#6495ed); 
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);

}
.work:hover .layer{
    height: 100%;
}
/* -------------------------------contact--------------------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 25px;
}
.contact-left p i{
    color: cornflowerblue;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size:30px;
    margin-right:15px;
    color: #ffffff;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#6495ed; 
    transform: translateY(-5px);

}
.btn{
    display: block;
    margin: 40px 15px;
    width:fit-content;
    border: 1px solid #6495ed;
    padding: 14px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: transform 0.5s;
}
.btn:hover{
    background: #6495ed;
}
.contact-right form{
    width: 100%;
} 
form input, form textarea{
    width:100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
.btn2{
    display: inline-block;
    background: #6495ed;
    border: 1px solid #6495ed;
    padding: 14px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
#msg{
    color: #b1b9b9;
    margin-top: 10px;
    display:block;
} 
.copyright{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
/* -------small screens------ */
nav .fas{
    display: none;
}
@media only screen and (max-width: 600px){
    .header-text{
        margin-top:100%;
        font-size:16px;
    }
    .header-text h1{
        font-size:30px;
    }
    nav .fas{
        display:block;
        font-size: 25px;
    }
    nav ul{
        background: #6495ed;
        position: fixed;
        top:0;
        right: -200px;
        width:200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: transform 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top:25px;
        left:25px;
        cursor:pointer; 
    }
    .sub-title{
        font: size 400px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .contact-left,.contact-right{
        flex-basis:100%;
        
    }
    .copyright{
        font-size: 14px;
    }
}
